<li>
    <h3 class="projectHeader">
        <pui-editable-item
        [content]="project?.name ?? 'ERROR'"
        (contentClicked)="foldProject()"
        (itemEdited)="editProject($event)"
        />
    </h3>
    <ul class="taskList"
    *ngIf="taskTree.size > 0">
        <pui-project-task
        *ngFor="let item of taskTree | keyvalue"
        class="projectTask"
        [taskId]="item.key"
        [statusId]="item.value"
        [routerLink]="['/logs', item.key]"
        />
    </ul>
</li>