html, body{
    color: #fffb;
    background-color: black;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* font-weight: 600; */
}
.mainContainer{
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    overflow-x: hidden;
}
.sideBar{
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff3;
    width: 4em;
    height: 100vh;
}
.sideBar ul{
    margin: 0;
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.sideBar ul li{
    width: 100%;
    /* display: block; */
    padding: 1em 0em;
    text-align: center;
    transition: .2s ease-out;
}
.sideBar ul li:hover{
    color: white;
    background-color: #0002;
    cursor: pointer;
    transition: none;
}

.logChart{
    margin-top: 2em;
    margin-bottom: 10em;
    width: 100%;
    height: 100%;
    text-align: left;
}
.logChart .header{
    border-bottom: 2px solid #fff4 !important;
    font-weight: bold;
    position: sticky;
    top: 0em;
    background-color: black;
    z-index: 5;
}
.logChart .logDay{
    width: 100%;
    display: flex;
    border-bottom: 1px solid #fff2;
    padding: .5em 0;
}
.stickyDate{
    position: sticky;
    top: 3em;
    padding-bottom: .25em;
}
.logChart .logDate{
    width: 15%;
}
.logChart .logProject{
    width: 35%;
}
.logChart .logTask{
    width: 50%;
}
.logChart .daysTasks{
    width: 85%;
    display: flex;
    flex-direction: column;
}
.logChart .daysTasks .logProject{
    width: 41.1355%;
}
.logChart .daysTasks .logTask{
    width: 58.82%;
}
.logChart .taskRow{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0 0 .25em 0;
}
.logChart .logDay.inputs{
    padding: 0 !important;
    border: none !important;
}
.logChart input{
    background-color: #0000;
    border-color: #fff0;
    color: grey;
    height: 100%;
    width: 100%;
    padding: .25em 0 .25em 0;
    transition: .2s;
    outline: none;
}
.logChart input:hover{
    border-bottom: 1px solid #fff2;
    transition: .2s ease-out;
}
.logChart input:focus{
    outline: none;
    border: none;
    border-bottom: 2px solid white;
    transition: .2s ease-out;
}

*{
    /* outline: 1px solid green; */
}