.new_habit_item {
    border: 1px solid var(--whiteLayer1);
    margin-bottom: 1em;
    /* margin-left: 1em; */
    padding: .5em 1em;
    transition: .5s ease-out;
    border-radius: .5em;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.new_habit_item:hover {
    border: 1px solid var(--whiteLayer2);
}

input.new_habit_frequency {
    width: 2em;
    margin-right: 1em;
    text-align: right;
}