:host {
    width: 100%;
}

.editableItem {
    word-wrap: break-word;
    overflow-wrap: break-word;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.editableItem.editable .editableItemContent,
.editableItem:not(.editable) .editableItemInput {
    display: none;
}
input.editableItemInput {
    border: none;
    padding: 0;
    margin: auto;
}
.editableItemEditButton {
    color: var(--whiteLayer2);
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    transition: opacity .1s ease-out, visibility 0s linear .8s;
    margin-top: auto;
    margin-bottom: auto;
}
.editableItem:hover .editableItemEditButton {
    opacity: 1;
    visibility: visible;
    transition: .1s ease-out, opacity .4s ease-out .8s, visibility 0s linear .8s;
}
.editableItemEditButton:hover,
.editableItemEditButton:focus {
    color: var(--whiteLayer3);
}
.editableItemEditButton:active {
    color: var(--fg-weak);
}

.alignRight {
    text-align: right;
}

:host.pending {
    color: var(--red);
}
:host.completed {
    color: var(--green);
}