:host {
  flex: 1;
  overflow-y: auto;
  background-color: var(--bg-section);
  height: 100%;
  display: block;
  transition: var(--theme-transition);
}

.main-content {
  display: contents;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 40px;
}

@media (max-width: 768px) {
  .container {
    padding: 24px;
  }
}
