<div class="menuTab projectTab">
    <main class="container">
        <h1>PROJECTS</h1>
        <div>
            <ul id="projectList">
                <!-- demo project
                <li>
                    <h3>test 2</h3>
                    <ul class="taskList">
                        <li><div class="logTask">
                            <div class="logTaskContent completed">test 21</div>
                            <input class="logTaskEditInput" type="text">
                            <span class="logTaskEditButton"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16"></svg></span>
                        </div></li>
                    </ul>
                </li>
                <li class="emptyProject">
                    <h3>test 3 test 3</h3>
                    <ul class="taskList hidden">
                        <li><div class="logTask">
                            <div class="logTaskContent completed">test 31</div>
                            <input class="logTaskEditInput" type="text">
                            <span class="logTaskEditButton"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16"></svg></span>
                        </div></li>
                    </ul>
                </li>
                -->
            </ul>
        </div>
    </main>
</div>