<div class="menu_tab projectTab">
    <main class="container" *ngIf="sortedProjects!.length > 0 ?? false">
        <h1>PROJECTS</h1>
        <div>
            <ul id="project_list">
                <pui-project-item
                *ngFor="let project of sortedProjects"
                [projectId]="project[0]"
                [taskTree]="project[1]"
                />
            </ul>
        </div>
    </main>
    <main class="no_projects" *ngIf="sortedProjects!.length <= 0 ?? true">
        <h1>PROJECTS</h1>
        <p>
            It looks like you haven't set up a project.<br>
            Checkout the <a [routerLink]="['/logs']" routerLinkActive="router-link-active" >Logs tab</a> to add a new Project with a task
        </p>
    </main>
</div>