<div class="menuTab projectTab">
    <main class="container">
        <h1>PROJECTS</h1>
        <div>
            <ul id="projectList">
                <pui-project-item
                *ngFor="let project of uiStateService.getProjectTree() | keyvalue"
                [projectId]="project.key"
                [taskTree]="project.value"
                [class.emptyProject]="project.value.size == 0 || uiStateService.foldedProjects.get(project.key)"
                (fold)="foldProjectItem(project.key)"></pui-project-item>
            </ul>
        </div>
    </main>
</div>