<div class="task-item group" [class.danger-item]="isOverdue()">
  <button (click)="toggleTask(task().id, $event)"
          (keypress)="toggleTask(task().id, $event)"
          class="pt-checkbox-btn task-item-checkbox"
          [class.danger]="isOverdue()"
          [class.checked]="isCompleted()">
    @if (isCompleted()) {
      <pt-svg class="check-icon" [icon]="SvgIcon.Check" [size]="12" />
    }
  </button>
  
  <div class="task-info" (click)="navigateToDetail(task().id)" (keypress)="navigateToDetail(task().id)">
    <p class="task-title"
       [class.danger-title]="isOverdue()" 
       [class.line-through]="isCompleted()">
      {{ task().title }}
    </p>

    @if (hasDueDate()) {
      <p class="task-meta" [class.danger-title]="isOverdue()">Due: {{ task().completeBy | date:'mediumDate' }}</p>
    }
    
    @if (task().goalId) {
      <p class="task-meta">{{ getGoalName(task().goalId!) }}</p>
    }
  </div>
  
  <pt-button (click)="deleteTask(task().id)"
             (keypress)="deleteTask(task().id)"
             [type]="ButtonType.Icon" 
             class="delete-btn"
             [class.danger-delete]="isOverdue()">
    &times;
  </pt-button>
</div>
