<nav class="header-nav">
  <pt-button [type]="ButtonType.Subtle" [routerLink]="[AppRouterLinks.Today]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
    <span class="nav-label">Today</span>
  </pt-button>
  <pt-button [type]="ButtonType.Subtle" [routerLink]="[AppRouterLinks.Tasks]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
    <span class="nav-label">Tasks</span>
  </pt-button>
  <pt-button [type]="ButtonType.Subtle" [routerLink]="[AppRouterLinks.Goals]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
    <span class="nav-label">Goals</span>
  </pt-button>
  <pt-button [type]="ButtonType.Subtle" [routerLink]="[AppRouterLinks.Habits]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
    <span class="nav-label">Habits</span>
  </pt-button>
</nav>
