<div class="project_row">
    <div class="project_column">
        <pui-editable-item
        class="sticky_project_stuff"
        [content]="project?.name ?? 'ERROR'"
        [isButtonOnLeft]="true"
        (contentClicked)="autoTypeProject()"
        (itemEdited)="editProject($event)"
        />
    </div>
    <div class="projects_tasks">
        <pui-task-row
        *ngFor="let taskLog of tree | keyvalue"
        [taskId]="taskLog.key"
        [taskLog]="taskLog.value"
        [highlightedTask]="highlightedTask"
        [itIsToday]="itIsToday"
        />
    </div>
</div>

