<div class="projectRow">
    <div class="projectColumn">
        <pui-editable-item
        class="stickyProjectStuff"
        [content]="project?.name ?? 'ERROR'"
        [isButtonOnLeft]="true"
        (contentClicked)="autoTypeProject()"
        (itemEdited)="editProject($event)"
        />
    </div>
    <div class="projectsTasks">
        <pui-task-row
        *ngFor="let taskLog of tree | keyvalue"
        [taskId]="taskLog.key"
        [taskLog]="taskLog.value"
        [highlightedTask]="highlightedTask"
        />
    </div>
</div>

