#side_handle {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translate(0%, -50%) rotate(90deg);
    padding: 0em 1%;
    font-size: 2em;
    cursor: pointer;
    user-select: none;
    z-index: 2000;
    transition: .25s ease-out;
}
#side_handle:hover {
    color: var(--fg-strong);
    transition: .1s ease-out;
}

#side_bar {
    transition: opacity .5s ease, visibility 0s 0.5s;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0%;
    left: 0vw;
    z-index: 100;
    backdrop-filter: blur(5px);
    background-color: var(--blackLayer2);
    display: flex;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    justify-content: center;
}
#side_bar.side_bar_open {
    transition: opacity .5s ease, visibility 0s;
    opacity: 1;
    visibility: visible;
}
#side_bar .menu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    transition: .5s ease-in-out;
}

.menu_buttons {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.menu_button {
    text-align: left;
    cursor: pointer;
    padding: .5em 2em;
    border: 2px solid transparent;
    background-color: transparent;
    transition: .1s ease-out, border-left 0s ease-out, color .25s ease-out;
    user-select: none;
}
.menu_button:hover, .menu_button:focus {
    border-left: 2px solid var(--whiteLayer3);
    background-color: var(--whiteLayer1);
    transition: .05s ease-out, border-left 0s ease-out, opacity .5s ease, visibility 0s, display 0s;
    outline: none;
    color: var(--fg-strong);
}
.menu_button:active {
    border-left: 2px solid green;
    transition:  border-left none;
}
.menu_button svg,
.menu_button .spinner-grow {
    margin-right: 1em;
    font-size: 1.25em;
    width: 1em;
    height: 1em;
    opacity: 1;
    visibility: visible;
    transition: inherit, opacity .5s ease, visibility 0s, display 0s;
}
.menu_button *.hidden {
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: inherit, opacity .5s ease, visibility 0s 0.5s, display 0s 0.5s;
    color: transparent;
}
.menu_button .success {
    color: var(--green);
}
.menu_button .failure {
    color: var(--red)
}

.menu_title {
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}