.mainContainer {
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    overflow-x: hidden;
}

button {
    transition: .5s ease-out;
    padding: .5em 1em;
    background-color: transparent;
    color: var(--fg-weak);
    border-radius: .5em;
    border: 0;
}
button:hover {
    transition: .25s ease-out;
    background-color: var(--whiteLayer1);
    color: var(--fg-strong);
}

.logChart {
    text-align: left;
}
.logChart .header {
    border-bottom: 2px solid var(--whiteLayer1) !important;
    font-weight: bold;
    position: sticky;
    top: 0em;
    background-color: var(--bg);
    z-index: 5;
}
.logChart .logDay {
    width: 100%;
    display: flex;
    border-bottom: 1px solid var(--whiteLayer1);
    padding: .5em 0;
}
.logChart .logDay.today {
    border-bottom: none;
}
.logChart .logDate {
    width: 15%;
}
.logChart .daysTasks {
    width: 85%;
    display: flex;
    flex-direction: column;
}
.today .logTaskContent,
.projectHeaderContent {
    cursor: pointer;
}
.logTaskContent.pending {
    color: var(--red);
}
.logTaskContent.completed {
    color: var(--green);
}
.logTask {
    width: 100%;
    transition: .2s ease-out;
    border-radius: .5em;
    padding: 0 .5em 0 .5em;
}
.flashedTask {
    background-color: var(--whiteLayer1);
}

.daysProjects {
    width: 85%;
    display: flex;
    flex-direction: column;
}
.projectRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-radius: .5em;
    transition: .1s linear;
}
.projectColumn {
    width: 41.1355%;
    text-align: right;
    padding: 0 0.5em 0 0.5em;
}
.projectsTasks {
    width: 58.82%;
}
.projectColumn input {
    text-align: right;
}

#inputs {
    padding: 0 !important;
    border: none !important;
}

/* #projectList > li:hover, */

.pendingHabits {
    list-style-type: none;
    margin-bottom: 1em;
    padding: 0;
}
.pendingHabitItem {
    border: 1px solid transparent;
    background-color: var(--red2);
    margin-bottom: 1em;
    padding: .5em 1em;
    transition: .5s ease-out;
    display: flex;
    justify-content: space-between;
}
.pendingHabitItem:hover {
    border: 1px solid var(--red);
    transition: .1s;
    cursor: pointer;
    color: var(--fg-strong);
}
.habitList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.habitItem {
    border: 1px solid var(--whiteLayer1);
    margin-bottom: 1em;
    /* margin-left: 1em; */
    padding: .5em 1em;
    transition: .5s ease-out;
    border-radius: .5em;
    display: flex;
    justify-content: space-between;
}
.habitItem:hover {
    border: 1px solid var(--whiteLayer2);
}
.newHabitItem {
    flex-direction: column;
}
.habitTitle {
    font-size: 1.5em;
}
.newHabitItem .newHabitFrequency {
    width: 2em;
    margin-right: 1em;
    text-align: right;  
}
/* .habitItem:not(:hover) .habitControls button {
    display: none;
    visibility: hidden;
}
button.habitDoneButton {
    display: inline-block !important;
} */

/* width */
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--whiteLayer1);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--whiteLayer2);
}

::-webkit-input-placeholder { /* Edge */
    color: var(--whiteLayer2);
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--whiteLayer2);
}
::placeholder {
    color: var(--whiteLayer2);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* *{
    outline: 1px solid green;
} */