:root {
    --bg: #181818ff;
    --whiteLayer1: #fff1;
    --whiteLayer2: #fff2;
    --whiteLayer3: #fff4;
    --blackLayer1: #0003;
    --blackLayer2: #0006;
    --blackLayer3: #000c;
    --fg-strong: white;
    --fg-weak: #fff8;
    --fg: grey;
    --green: rgb(0, 128, 0);
    --red: rgb(192, 0, 0);
}

html,
body {
    color: var(--fg);
    background-color: var(--bg);
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    transition: .2s;
    overflow: hidden;
}
.mainContainer {
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    overflow-x: hidden;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#sideBar {
    transition: opacity .5s ease, visibility 0s 0.5s;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0%;
    left: 0vw;
    z-index: 100;
    backdrop-filter: blur(5px);
    background-color: var(--blackLayer2);
    display: flex;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    justify-content: center;
}
#sideBar.sideBar_open {
    transition: opacity .5s ease, visibility 0s;
    opacity: 1;
    visibility: visible;
}
#sideHandle {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translate(0%, -50%) rotate(90deg);
    padding: 0em 1%;
    font-size: 2em;
    cursor: pointer;
    user-select: none;
    z-index: 2000;
    transition: .25s ease-out;
}
#sideHandle:hover {
    color: var(--fg-strong);
    transition: .1s ease-out;
}
#sideBar .menu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    transition: .5s ease-in-out;
}
.menuButtons {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.menuButton {
    text-align: left;
    cursor: pointer;
    padding: .5em 2em;
    border: 2px solid transparent;
    background-color: transparent;
    transition: .1s ease-out, border-left 0s ease-out, color .25s ease-out;
    user-select: none;
}
.menuButton:hover, .menuButton:focus {
    border-left: 2px solid var(--whiteLayer3);
    background-color: var(--whiteLayer1);
    transition: .05s ease-out, border-left 0s ease-out, opacity .5s ease, visibility 0s, display 0s;
    outline: none;
    color: var(--fg-strong);
}
.menuButton:active {
    border-left: 2px solid green;
    transition:  border-left none;
}
.menuButton svg,
.menuButton .spinner-grow {
    margin-right: 1em;
    font-size: 1.25em;
    width: 1em;
    height: 1em;
    opacity: 1;
    visibility: visible;
    transition: inherit, opacity .5s ease, visibility 0s, display 0s;
}
.menuButton *.hidden {
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: inherit, opacity .5s ease, visibility 0s 0.5s, display 0s 0.5s;
    color: transparent;
}
.menuButton .success {
    color: var(--green);
}
.menuButton .failure {
    color: var(--red)
}
.menuTitle {
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.menuTab {
    display: none;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
}
.menuTab > :first-child {
    margin-top: 2em;
}
.menuTab > :last-child {
    margin-bottom: 10em;
}

.logChart {
    text-align: left;
}
.logChart .header {
    border-bottom: 2px solid var(--whiteLayer1) !important;
    font-weight: bold;
    position: sticky;
    top: 0em;
    background-color: var(--bg);
    z-index: 5;
}
.logChart .logDay {
    width: 100%;
    display: flex;
    border-bottom: 1px solid var(--whiteLayer1);
    padding: .5em 0;
}
.logChart .logDay.today {
    border-bottom: none;
}
.stickyDate, .stickyProjectStuff {
    position: sticky;
    top: 3em;
}
.logChart .logDate {
    width: 15%;
}
.logChart .daysTasks {
    width: 85%;
    display: flex;
    flex-direction: column;
}
.logTask,
.stickyProjectStuff,
.projectHeader {
    word-wrap: break-word;
    overflow-wrap: break-word;
    display: flex;
    justify-content: space-between;
}
.logTask:not(.editable) .logTaskEditInput,
.logTask.editable .logTaskContent,
.projectColumn:not(.editable) .logProjectEditInput,
.projectColumn.editable .logProjectContent,
.projectHeader:not(.editable) .projectEditInput,
.projectHeader.editable .projectHeaderContent {
    display: none;
}
.logTask input.logTaskEditInput,
.projectRow input.logProjectEditInput,
.projectHeader input.projectEditInput {
    border: none;
    padding: 0;
    margin: auto;
}
.logTask .logTaskEditButton,
.projectRow .logProjectEditButton,
.projectHeader .projectEditButton {
    color: var(--whiteLayer2);
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    transition: opacity .1s ease-out, visibility 0s linear .8s;
    margin-top: auto;
    margin-bottom: auto;
}
.logTask:not(.editable):hover .logTaskEditButton,
.projectRow:not(.editable):hover .logProjectEditButton,
.projectHeader:not(.editable):hover .projectEditButton {
    opacity: 1;
    visibility: visible;
    transition: .1s ease-out, opacity .4s ease-out .8s, visibility 0s linear .8s;
}
.logTask .logTaskEditButton:hover,
.logTask .logTaskEditButton:focus,
.projectRow .logProjectEditButton:hover,
.projectRow .logProjectEditButton:focus,
.projectHeader .projectEditButton:hover,
.projectHeader .projectEditButton:focus {
    color: var(--whiteLayer3);
}
.logTask .logTaskEditButton:active,
.projectRow .logProjectEditButton:active,
.projectHeader .projectEditButton:active {
    color: var(--fg-weak);
}
.logTaskContent,
.logProjectContent,
.projectHeaderContent {
    cursor: pointer;
}
.logTaskContent.pending {
    color: var(--red);
}
.logTaskContent.completed {
    color: var(--green);
}
.logDay:not(#inputs) .logTask:hover,
.logDay:not(#inputs) .logTask:focus-within {
    background-color: var(--blackLayer1);
    transition-delay: .2s;
}
.logTask {
    width: 100%;
    transition: .2s ease-out;
    border-radius: .5em;
    padding: 0 .5em 0 .5em;
}
.logTaskContent {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.daysProjects {
    width: 85%;
    display: flex;
    flex-direction: column;
}
.projectRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-radius: .5em;
    transition: .1s linear;
}
.projectColumn {
    width: 41.1355%;
    text-align: right;
    padding: 0 0.5em 0 0.5em;
}
.projectsTasks {
    width: 58.82%;
}
.projectColumn input {
    text-align: right;
}

#inputs {
    padding: 0 !important;
    border: none !important;
}
input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid transparent;
    color: var(--fg);
    height: 100%;
    width: 100%;
    padding: .25em 0em;
    transition: .1s;
    outline: none;
}
input:hover {
    border-bottom: 2px solid var(--whiteLayer1);
    transition: .2s ease-out;
    outline: none;
}
input:focus {
    outline: none;
    border-bottom: 2px solid var(--whiteLayer3);
    transition: .2s ease-out;
}

#projectList,
.taskList {
    transition: .5s;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* align-items: center; */
}
#projectList > li {
    margin: .5em .5em 0em 0em;
    padding: .5em 1em;
    border-radius: .5em;
    /* background-color: var(--blackLayer1); */
}
#projectList > li h2,
#projectList > li h3 {
    cursor: pointer;
    margin: 0;
}
#projectList > li:not(.emptyProject) {
    width: 100%;
}
/* #projectList > li:hover, */
#projectList > li.emptyProject {
    background-color: var(--blackLayer1);
}
#projectList > li.emptyProject:hover {
    background-color: var(--blackLayer2)
}
.taskList.hidden {
    display: none;
}
.taskList > li {
    width: 100%;
    margin-top: 4px;
    padding: 0em 0em 0em 1em;
    border-radius: 0 0.5em 0.5em 0;
    border-left: 1px solid var(--whiteLayer2);
}
.taskList > li:hover {
    background-color: var(--blackLayer1);
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--whiteLayer1);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--whiteLayer2);
}

::-webkit-input-placeholder { /* Edge */
    color: var(--whiteLayer2);
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--whiteLayer2);
}
::placeholder {
    color: var(--whiteLayer2);
}

/* *{
    outline: 1px solid green;
} */