:root{
    --bg: #181818ff;
    --whiteLayer: #fff1;
    --whiteLayer2: #fff2;
    --whiteLayer3: #fff4;
    --blackLayer: #0003;
    --blackLayer2: #0006;
    --blackLayer3: #000c;
    --fg-strong: white;
    --fg: grey;
    --green: rgb(0, 128, 0);
    --red: rgb(192, 0, 0);
}

html, body{
    color: var(--fg);
    background-color: var(--bg);
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    transition: .2s;
    /* font-weight: 600; */
}
html.scrollLock, body.scrollLock{
    overflow: hidden;
    height: 100%;
}
.mainContainer{
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    overflow-x: hidden;
}

#sideBar{
    transition: .5s ease;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0%;
    left: -100vw;
    z-index: 100;
    backdrop-filter: blur(5px);
    background-color: var(--whiteLayer);
    background-color: var(--blackLayer);
    display: flex;
    text-align: center;
    justify-content: center;
}
#sideBar #sideHandle{
    transition: .5s ease;
    position: fixed;
    left: 100%;
    top: 50%;
    transform: translate(0%, -50%) rotate(90deg);
    padding: 0em 1%;
    font-size: 2em;
    cursor: pointer;
    user-select: none;
}
#sideBar .menu{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}
#sideBar .menu ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    /* display: flex; */
}
#sideBar .menu li{
    text-align: center;
    justify-content: center;
    vertical-align: center;
    cursor: pointer;
    padding: .5em 2em;
    border: 2px solid transparent;
    background-color: transparent;
    transition: .1s ease-out, border-left 0s ease-out;
    user-select: none;
}
#sideBar .menu li:hover, #sideBar .menu li:focus{
    border-left: 2px solid var(--whiteLayer3);
    background-color: var(--whiteLayer);
    transition: .05s ease-out, border-left 0s ease-out;
    outline: none;
}
#sideBar .menu li:active{
    border-left: 2px solid green;
    transition:  border-left none;
}

.logChart{
    margin-top: 2em;
    margin-bottom: 10em;
    width: 100%;
    height: 100%;
    text-align: left;
}
.logChart .header{
    border-bottom: 2px solid var(--whiteLayer) !important;
    font-weight: bold;
    position: sticky;
    top: 0em;
    background-color: var(--bg);
    z-index: 5;
}
.logChart .header > *:not(:first-child), .logChart .taskRow > *{
    padding: 0 .5em 0 .5em;
}
.logChart .logDay{
    width: 100%;
    display: flex;
    border-bottom: 1px solid var(--whiteLayer);
    padding: .5em 0;
}
.stickyDate{
    position: sticky;
    top: 3em;
    padding-bottom: .25em;
}
.logChart .logDate{
    width: 15%;
}
.logChart .logProject, .logProject input{
    width: 35%;
    text-align: right;
}
.logChart .logTask{
    width: 50%;
}
.logChart .daysTasks{
    width: 85%;
    display: flex;
    flex-direction: column;
}
.logChart .daysTasks .logProject{
    width: 41.1355%;
}
.logChart .daysTasks .logTask{
    width: 58.82%;
    transition: .2s ease-out;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.logChart :not(.header, .inputs) .logTask{
    color: var(--red);
    cursor: pointer;
}
.logChart .logTask.completed{
    color: var(--green);
}
.logChart .taskRow{
    width: 100%;
    display: flex;
    flex-direction: row;
    border-radius: .5em;
    transition: .1s linear;
}
.logChart .taskRow:hover{
    background-color: var(--blackLayer);
    transition-delay: .2s;
}
.logChart .logDay.inputs{
    padding: 0 !important;
    border: none !important;
}

.logChart input{
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom: 2px solid transparent;
    color: var(--fg);
    height: 100%;
    width: 100%;
    padding: .25em 0 .25em 0;
    transition: .1s;
    outline: none;
}
.logChart input:hover{
    border-bottom: 2px solid var(--whiteLayer);
    transition: .2s ease-out;
    outline: none;
}
.logChart input:focus{
    outline: none;
    border-bottom: 2px solid var(--whiteLayer3);
    transition: .2s ease-out;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
/* Track */
::-webkit-scrollbar-track {
background: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
background: var(--whiteLayer);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: var(--whiteLayer2);
}

*{
    /* outline: 1px solid green; */
}