<div class="task-detail-container animate-in">
  <!-- <button class="back-btn" (click)="goBack()">
    <pt-svg [icon]="SvgIcon.ChevronLeft" [size]="20"></pt-svg>
    Back
  </button> -->

  @if (task(); as t) {
    <div class="group" [class.danger-item]="isOverdue()" [style.view-transition-name]="'task-' + t.id">
      <div class="detail-header">
        <button (click)="toggleTask($event)"
                class="pt-checkbox-btn task-detail-checkbox size-lg"
                [class.danger]="isOverdue()"
                [class.checked]="isCompleted()">
          @if (isCompleted()) {
            <pt-svg class="check-icon" [icon]="SvgIcon.Check" [size]="16" />
          }
        </button>
        <h1 class="task-title" [class.line-through]="isCompleted()" [class.danger-title]="isOverdue()">
          {{ t.title }}
        </h1>
      </div>

      <div class="task-meta-grid">
        <div class="meta-item">
          <span class="meta-label">Created</span>
          <span class="meta-value">{{ t.createdOn | date:'medium' }}</span>
        </div>

        <div class="meta-item" [class.danger-text]="isOverdue()">
          <span class="meta-label">Due</span>
          <span class="meta-value">{{ !hasDueDate() ? '-' : t.completeBy | date:'mediumDate'}}</span>
        </div>

        <div class="meta-item">
          <span class="meta-label">Done</span>
          <span class="meta-value">{{ !(isCompleted() && t.completedOn) ? '-' : t.completedOn | date:'medium' }}</span>
        </div>

        @if (t.goalId) {
          <div class="meta-item" [style.view-transition-name]="'goal-' + t.goalId">
            <span class="meta-label">Associated Goal</span>
            <span class="meta-value">{{ getGoalName(t.goalId) }}</span>
          </div>
        }
      </div>

      <div class="actions">
        <button class="edit-btn" (click)="openEditModal()">Edit Task</button>
        <button class="danger-btn" (click)="deleteTask()">Delete Task</button>
      </div>
    </div>

    @if (isEditModalOpen()) {
      <pt-task-edit-dialog [task]="t" (closed)="closeEditModal()" />
    }
  } @else {
    <div class="loading-state">
      <p>Loading task details...</p>
    </div>
  }
</div>
