<div class="menuTab logChart">
    <main class="container">
        <h1>LOGS</h1>
        <div class="logDay header">
            <div class="logDate">Date</div>
            <div class="daysProjects">
                <div class="projectRow">
                    <div class="projectColumn">Project</div>
                    <div class="projectsTasks">
                        <div class="logTask">Task</div>
                    </div>
                </div>
            </div>
        </div>
        <pui-log-day *ngFor="let day of uiStateService.getLogTree() | keyvalue" [logDay]="day.key" [tree]="day.value"></pui-log-day>
        <pui-new-log-section [logsExist]="uiStateService.logsExist()"></pui-new-log-section>
        <div #scrollAnchor></div>
    </main>
</div>