<header class="app-header">
  <div class="header-container">
    <div class="logo-group">
      <h1 class="logo-title" (click)="setDashboardTab()">ProTracker.</h1>
      <button class="theme-minimal-toggle" (click)="toggleTheme()" [title]="'Toggle Theme'">
        @if (currentTheme() === Theme.Light) {
          <pt-svg [icon]="SvgIcon.Moon" [size]="18" />
        } @else {
          <pt-svg [icon]="SvgIcon.Sun" [size]="18" />
        }
      </button>
    </div>
    <nav class="header-nav">
      <button (click)="setDashboardTab()" 
              [class.nav-active]="activeTab() === ActiveTab.Dashboard"
              class="nav-link">Today</button>
      <button (click)="setTasksTab()" 
              [class.nav-active]="activeTab() === ActiveTab.Tasks"
              class="nav-link">Tasks</button>
      <button (click)="setGoalsTab()" 
              [class.nav-active]="activeTab() === ActiveTab.Goals"
              class="nav-link">Goals</button>
      <button (click)="setHabitsTab()" 
              [class.nav-active]="activeTab() === ActiveTab.Habits"
              class="nav-link">Habits</button>
    </nav>
  </div>
</header>
