<div class="menu_tab habitTab">
    <main class="container">
        <h1>HABITS</h1>
        @if (uiStateService.habits.size > 0) {
            <pui-habit-graph></pui-habit-graph>
        }
        @if (dueHabits.size > 0) {
            <h2>Due Today</h2>
            <ul class="pending_habits">
                @for (habit of dueHabits | keyvalue ; track habit) {
                    <pui-due-habit-item
                    [habitId]="habit.key"
                    [habit]="habit.value"
                    (dueHabitDone)="updateGraph()"
                    />
                }
            </ul>
        }
        @if (dueHabits.size > 0) { <hr> }
        <ul class="habit_list">
            @for (habit of uiStateService.habits | keyvalue; track habit) {
                <pui-habit-item
                [habitId]="habit.key"
                [habit]="habit.value"
                />
            }
        </ul>
        <pui-new-habit-section />
    </main>
</div>