<div class="tasks-container">
  @if (showOverdue() && overdueTasks().length > 0) {
    <div class="overdue-section">
      <p class="list-section-header danger-header danger-text">Overdue Tasks</p>
      <div class="tasks-list">
        @for (task of overdueTasks(); track task.id) {
          <pt-task-card [task]="task" />
        }
      </div>
    </div>
  }

  @if (showActive()) {
    <div>
      <p class="list-section-header">{{ currentDate | date:'fullDate' }}</p>

      <div class="tasks-list">
        @for (task of pendingTasks(); track task.id) {
          <pt-task-card [task]="task" />
        }
        @if (pendingTasks().length === 0) {
          <p class="empty-text">No tasks left for today.</p>
        }
      </div>
    </div>
  }

  @if (showCompleted() && completedTasks().length > 0) {
    <div class="completed-section">
      <h3 class="section-subtitle" (click)="toggleFold()">
        {{ isFolded() ? 'show completed' : 'Completed' }}
      </h3>
      @if (!isFolded()) {
        <div class="tasks-list completed-list">
          @for (task of completedTasks(); track task.id) {
            <pt-task-card [task]="task" />
          }
        </div>
      }
    </div>
  }
</div>