<div class="animate-in">
  <!-- Add Habit Form -->
  <div class="habit-form-container">
    <form [formGroup]="habitForm" (ngSubmit)="addHabit()" class="habit-form">
      <div class="habit-input-group">
        <input type="text" formControlName="title" placeholder="E.g., Read 20 pages" 
          class="habit-title-input">
      </div>
      <select formControlName="frequency" class="habit-frequency-select">
        <option value="daily">Daily</option>
        <option value="weekly">Weekly</option>
      </select>
      <button type="submit" [disabled]="habitForm.invalid" class="btn-add">
        Add
      </button>
    </form>
  </div>

  <!-- Habits List -->
  <div class="habits-container">
    @for (habit of habits(); track habit.id) {
      <div class="habit-item group">
        <div class="habit-main">
          <button (click)="deleteHabit(habit.id)" class="delete-btn">
            &times;
          </button>
          <div class="habit-info">
            <h3 class="habit-item-title">{{ habit.title }}</h3>
            <p class="habit-frequency">{{ habit.frequency }}</p>
          </div>
        </div>
        
        <div class="habit-streak">
          <div class="streak-count">
            <span class="streak-number">{{ habit.streak }}</span>
            <span class="streak-label">Days</span>
          </div>
        </div>
      </div>
    }
    @if (habits().length === 0) {
      <p class="empty-text">No habits tracking yet.</p>
    }
  </div>
</div>
