<div class="logDay header inputs" id="inputs">
    <div class="logDate"></div>
    <div class="daysProjects">
        <div class="projectRow">
            <div class="projectColumn">
                <div class="sickyProjectContent">
                    <input type="text" name="Project" id="newLogProject" autocomplete required title="Parent Task/Project">
                </div>
            </div>
            <div class="projectsTasks">
                <div class="logTask">
                    <input type="text" name="Task" id="newLogTask" title="Task">
                </div>
            </div>
        </div>
    </div>
</div>